# Python bytecode
*.pyc
__pycache__/

# Environment variables
.env

# Poetry files
poetry.lock

# PyTorch cache
.cache/

# PyTorch checkpoint
*.pt
poetry.lock

# 研究環境臨時檔案
C:/fake_cuda/
fake_cuda/
